    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.6;
      background-color: #fffaf4;
      color: #333;
    }

    header {
      font-size: xx-large;  
      text-align: center;
      padding: 2rem 1rem;
      color: #005414;
      font-weight: bold;  
      }
    
    figure img {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        transition: transform .2s;
        animation-delay: 1s;
    }
    figure img:hover{
        transform: scale(1.1);
    }