    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      line-height: 1.6;
      background-color: #facab4;
      color: #333;
    }

    header {
      font-size: xx-large;  
      text-align: center;
      padding: 2rem 1rem;
      color: #005414;
      font-weight: bold;  
      }
    

        .group:after {
    content: "";
    display: table;
    clear: both;
    }

    .text {
    float: left;
    width: 70%;
    }

    .images {
    float: left;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: transform .2s;
    animation-delay: 1s;
    }

    .images:hover{
        transform: scale(1.1);
    }

    img{
        width: 70%;
    }